# ===============================
# Build output
# ===============================
/target/        # Maven
/build/         # Gradle

# ===============================
# IDE / Editor files
# ===============================
# IntelliJ IDEA
*.iml
.idea/
out/
*.class
.idea
*.iws
*.ipr

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# ===============================
# OS-specific files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Spring Boot config files (local only)
# ===============================
application.properties
application.yml

# ===============================
# Database files
# ===============================
*.db

# ===============================
# Environment files
# ===============================
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===============================
# Other files
# ===============================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.properties
/uploads
